<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.MessageMapper">

	<select id="getMessageList" parameterType="_int" resultType="MessageDTO">
	<![CDATA[
		SELECT *
		FROM message
		WHERE (sender_id = #{userId} OR reciever_id = #{userId}) AND datetime IN (SELECT MAX(datetime) FROM message GROUP BY sender_id, reciever_id)
		ORDER BY datetime DESC
	]]>
	</select>

	<update id="readMessages" parameterType="hashmap">
	<![CDATA[
		UPDATE message
		SET read = 1
		WHERE sender_id = #{otherId} AND reciever_id = #{userId}
	]]>
	</update>

	<select id="getMessageHistory" parameterType="hashmap" resultType="MessageDTO">
	<![CDATA[
		SELECT *
		FROM message
		WHERE (sender_id = #{userId} OR reciever_id = #{userId}) AND (sender_id = #{otherId} OR reciever_id = #{otherId})
		ORDER BY datetime
	]]>
	</select>

	<select id="getUnreads" parameterType="_int" resultType="_int">
	<![CDATA[
		SELECT sender_id
		FROM message
		WHERE read = 0 AND reciever_id = #{userId}
	]]>
	</select>

	<insert id="sendMessage" parameterType="hashmap">
	<![CDATA[
		INSERT INTO message (id, sender_id, sender_name, sender_privilege, reciever_id, reciever_name, reciever_privilege, content)
		VALUES (seq_message.NEXTVAL, #{senderId}, #{senderName}, #{senderPrivilege}, #{recieverId}, #{recieverName}, #{recieverPrivilege}, #{content})
	]]>
	</insert>

</mapper>
